In [8]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\tedi setiadi\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\tedi setiadi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tedi setiadi\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tedi setiadi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tedi setiadi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\tedi setiadi\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Membuat Dataframe

In [2]:
import pandas as pd

In [8]:
data = {
    'Tahun':[2008,2009,2010],
    'Cakupan':['Kota Bandung', 'Prov. Jawa Barat', 'Nasional'],
    'Tingkat Inflasi':[10.23, 2.02, 4.53]
}

df = pd.DataFrame(data)
print(df)

   Tahun           Cakupan  Tingkat Inflasi
0   2008      Kota Bandung            10.23
1   2009  Prov. Jawa Barat             2.02
2   2010          Nasional             4.53

Membaca dan Menulis Data

1. Membaca dataset

In [4]:
df = pd.read_csv('C:/Users/Tedi Setiadi/Music/kanaya/semester 3/pemog/H05.csv')
df

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
0         Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1               Steven Margono    FMIPA      67.43      51.50      57.20
2                 Ryan Sentosa    SAPPK      90.62      37.38      40.73
3         Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4             Alvin Natawiguna     FTSL      65.45      57.67      56.39
...                        ...      ...        ...        ...        ...
5130               Khoirrashif    SITHR      66.14      46.82      56.74
5131      Jefri Hendri Adriano     FTSL      53.68      34.74      33.76
5132               Iki Hidayat     FITB      69.63      35.04      37.65
5133  Muhammad Nashir Sitompul      FTI      79.69      39.06      50.17
5134     Billy Richardo Sagala     STEI      68.68      51.23      66.18

[5135 rows x 5 columns]

In [5]:
df.to_csv('output.csv', index = False)

In [ ]:
df.to_excel('output.xlsx', index = False)

Mengakses Data

In [9]:
filtered_data=df[df['Cakupan'] == 'Kota Bandung']
print(filtered_data)

   Tahun       Cakupan  Tingkat Inflasi
0   2008  Kota Bandung            10.23

Mengambil Ekstremum

Ekstremum adalah nilai yang paling tinggi atau paling rendah. Contoh:

In [11]:
max_inflasi = df['Tingkat Inflasi'].max()
min_inflasi = df['Tingkat Inflasi'].min()

Mengurutkan Data

▪	Ascending:

In [24]:
df_sorted = df.sort_values(by='Tingkat Inflasi', ascending=True)

In [25]:
df_sorted

   Tahun           Cakupan  Tingkat Inflasi
1   2009  Prov. Jawa Barat             2.02
2   2010          Nasional             4.53
0   2008      Kota Bandung            10.23

▪	Descending:

In [26]:
df_sorted = df.sort_values(by='Tingkat Inflasi', ascending=False)

In [27]:
df_sorted

   Tahun           Cakupan  Tingkat Inflasi
0   2008      Kota Bandung            10.23
2   2010          Nasional             4.53
1   2009  Prov. Jawa Barat             2.02

Tabel Frekuensi

In [17]:
frequency_table = df['Tahun'].value_counts()
print(frequency_table)

Tahun
2008    1
2009    1
2010    1
Name: count, dtype: int64

Menentukan Range

In [19]:
range_inflasi = df['Tingkat Inflasi'].max() - df['Tingkat Inflasi'].min()

Statistik Sederhana

In [20]:
statistics = df.describe()
print(statistics)

        Tahun  Tingkat Inflasi
count     3.0         3.000000
mean   2009.0         5.593333
std       1.0         4.207022
min    2008.0         2.020000
25%    2008.5         3.275000
50%    2009.0         4.530000
75%    2009.5         7.380000
max    2010.0        10.230000

Koefisien Korelasi

In [22]:
correlation = df['Tingkat Inflasi'].corr(df['Tahun'])
print(correlation)

-0.6774388302247065

Cara memaknai koefisien korelasi:

▪	Semakin mendekati 0, dua kolom tidak berkorelasi.

▪	Semakin mendekati 1, dua kolom berbanding lurus.

▪	Semakin mendekati -1, dua kolom berbanding terbalik.

Latihan

Problem 1

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('C:/Users/Tedi Setiadi/Music/kanaya/semester 3/pemog/H05.csv')
data

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
0         Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1               Steven Margono    FMIPA      67.43      51.50      57.20
2                 Ryan Sentosa    SAPPK      90.62      37.38      40.73
3         Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4             Alvin Natawiguna     FTSL      65.45      57.67      56.39
...                        ...      ...        ...        ...        ...
5130               Khoirrashif    SITHR      66.14      46.82      56.74
5131      Jefri Hendri Adriano     FTSL      53.68      34.74      33.76
5132               Iki Hidayat     FITB      69.63      35.04      37.65
5133  Muhammad Nashir Sitompul      FTI      79.69      39.06      50.17
5134     Billy Richardo Sagala     STEI      68.68      51.23      66.18

[5135 rows x 5 columns]

In [11]:
#Hitung banyaknya data
jumlah_data = len(data)
print(f"Jumlah data: {jumlah_data}")

Jumlah data: 5135

In [10]:
#Tampilkan 10 data pertama
print("\n10 data pertama:")
print(data.head(10))

10 data pertama:
                             nama fakultas  nilai_mat  nilai_kim  nilai_fis
0            Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1                  Steven Margono    FMIPA      67.43      51.50      57.20
2                    Ryan Sentosa    SAPPK      90.62      37.38      40.73
3            Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4                Alvin Natawiguna     FTSL      65.45      57.67      56.39
5                   Sasti Safitri     FTSL      60.58      41.91      51.55
6             Dani Yulianto Putra     FTSL      51.67      35.05      48.69
7  Nabila Febitsukarizky Bunyamin     FTTM      71.66      67.61      69.75
8             Ratna Siti Khodijah      FTI      73.06      59.16      59.48
9                    Gita Partiwi     FTSL      69.57      38.84      48.17

In [14]:
#Tampilkan data ke-50 sampai ke-60
print("\nData ke-50 sampai ke-60:")
print(data.iloc[49:60])  # Karena index dimulai dari 0

Data ke-50 sampai ke-60:
                        nama fakultas  nilai_mat  nilai_kim  nilai_fis
49      Alief Rizky Ramadhan    SITHS      84.59      42.44      40.48
50      Arief Syakur Sutedjo     FTTM      84.40      61.21      73.91
51         Fayi Raihan Saleh    FMIPA      60.62      32.57      42.34
52          Erna Kristiawati      FTI      67.48      46.78      52.30
53                    Albert    SAPPK      70.27      50.10      54.01
54  M Jazztyan Indra Pradana     STEI      53.40      43.06      60.30
55      Moch Ginanjar Busiri    FMIPA      74.29      38.44      49.15
56              Aisya Tamara     FITB      71.49      35.86      37.41
57        Tyas Arum Widayati    SAPPK      68.57      37.02      53.25
58                Arif Saleh      FTI     100.00      59.79      55.33
59     Windy Diwita Nisaekti      FTI      67.15      57.72      54.24

In [6]:
#Hitung banyaknya mahasiswa di tiap fakultas
jumlah_mahasiswa_per_fakultas = data['fakultas'].value_counts()
print(jumlah_mahasiswa_per_fakultas)

fakultas
FTI      834
STEI     777
FTSL     660
FMIPA    627
FTTM     579
FTMD     480
FITB     403
SAPPK    315
SITHR    282
SITHS    178
Name: count, dtype: int64

In [10]:
#Hitung nilai korelasi antara nilai fisika dan kimia 
correlation = data['nilai_fis'].corr(data['nilai_kim'])
print(correlation)

0.7988187423880274

In [11]:
# Tentukan Jenis Korelasi
korelasi = data['nilai_fis'].corr(data['nilai_kim'])

print("Nilai korelasi antara Fisika dan Kimia:", korelasi)
if korelasi > 0.7:
    print("Korelasi kuat dan lurus.")
elif korelasi < -0.7:
    print("Korelasi kuat dan terbalik.")
elif -0.7 <= korelasi <= 0.7:
    print("Tidak ada korelasi yang signifikan.")

Nilai korelasi antara Fisika dan Kimia: 0.7988187423880274
Korelasi kuat dan lurus.

Problem 2

In [13]:
data = pd.read_csv('C:/Users/Tedi Setiadi/Music/kanaya/semester 3/pemog/H05.csv')
data

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
0         Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1               Steven Margono    FMIPA      67.43      51.50      57.20
2                 Ryan Sentosa    SAPPK      90.62      37.38      40.73
3         Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4             Alvin Natawiguna     FTSL      65.45      57.67      56.39
...                        ...      ...        ...        ...        ...
5130               Khoirrashif    SITHR      66.14      46.82      56.74
5131      Jefri Hendri Adriano     FTSL      53.68      34.74      33.76
5132               Iki Hidayat     FITB      69.63      35.04      37.65
5133  Muhammad Nashir Sitompul      FTI      79.69      39.06      50.17
5134     Billy Richardo Sagala     STEI      68.68      51.23      66.18

[5135 rows x 5 columns]

In [25]:
#Tampilkan nilai matematika, fisika, dan kimia milik Tuan Leo
leo = data[data['nama'] == "Leonardus Kevin"]
if not leo.empty:
    print("\nNilai Tuan Leo:")
    print(leo[['nilai_mat', 'nilai_kim', 'nilai_fis']])
else:
    print("\nLeonardus Kevin tidak ditemukan.")

Nilai Tuan Leo:
     nilai_mat  nilai_kim  nilai_fis
895      63.53      19.67      26.15

In [19]:
#Cari mahasiswa dengan nilai fisika tertinggi
fisika_tertinggi = data[data['nilai_fis'] == data['nilai_fis'].max()]
print("\nMahasiswa dengan nilai fisika tertinggi:")
print(fisika_tertinggi)

Mahasiswa dengan nilai fisika tertinggi:
                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57

In [21]:
#Tampilkan 10 mahasiswa dengan nilai kimia tertinggi
kimia_tertinggi = data.nlargest(10, 'nilai_kim')
print("\n10 mahasiswa dengan nilai kimia tertinggi:")
print(kimia_tertinggi)

10 mahasiswa dengan nilai kimia tertinggi:
                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
2554      Faathir Reza Avicena     FTSL      57.12      81.50      78.68
2779      Dinda A A Z Mundakir     STEI      41.18      81.34      82.60
3544        Tammya Ayu Purnomo    SITHS      74.49      81.20      78.58
4934    Alyssa Nadhira Windari     FTMD      78.38      78.83      78.68
1137          Izni Nur Ibrahim     STEI      56.70      78.46      84.34
2262      Rinaldi Oky Setiawan     STEI      71.22      77.44      83.66
4070      Ias Azhari Rezkyarno    FMIPA      62.85      76.90      81.52
2945           Klara Petra T T     FTSL      73.39      76.61      78.12
1788  Naudy Germanimo Laksmana     FTMD      62.29      76.38      76.15
1310       Mardliyahtur Rohmah     STEI      63.15      76.36      74.06

In [23]:
#Hitung banyaknya nilai matematika di bawah 50
matematika_di_bawah_50 = len(data[data['nilai_mat'] < 50])
print(f"\nBanyaknya nilai matematika di bawah 50: {matematika_di_bawah_50}")

Banyaknya nilai matematika di bawah 50: 329

In [24]:
#Hitung banyaknya mahasiswa di FMIPA
jumlah_fmipa = len(data[data['fakultas'] == "FMIPA"])
print(f"Banyaknya mahasiswa di FMIPA: {jumlah_fmipa}")

Banyaknya mahasiswa di FMIPA: 627